welcome {{ansible_facts['default_ipv4']['address']}}

You are running a {{ansible_facts['distribution']}} version {{ansible_facts['distribution_version']}}

This is a jijna2 generated template for RHCE!!

Cha-ching
